@use './components/navbar/Navbar.scss';
@use './components/login/LoginPage.scss';
@use './components/register/RegisterPage.scss';
@use './components/home/HomePage.scss';

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}